In [8]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

FEED ME!

In [15]:
loc = 'Stadium'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [19]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

In [20]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [24]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [26]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number {num}')

Odd Number 1
2
Odd Number 3
4
Odd Number 5
6
Odd Number 7
8
Odd Number 9
10

In [29]:
list_sum = 0

for num in mylist:
    list_sum += num
print(list_sum)

55

In [35]:
mystring = 'Hello World'

for _ in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [36]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [37]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [38]:
len(mylist)

4

In [41]:
for (a,b) in mylist:
#     print(a)
    print(b)

2
4
6
8

In [42]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [46]:
for a,b,c in mylist:
    print(b)

2
6
9

In [51]:
d = {'k1':1,'k2':2,'k3':3}

for key in d.keys():
    print(key)

k1
k2
k3

In [4]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X IS NOT LESS THAN 5")

X IS NOT LESS THAN 5

In [9]:
x = [1,2,3]

for item in x:
    pass
print('end of my script')

end of my script

In [10]:
mystring = 'Sammy'

In [16]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [2]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [3]:
mylist = [1,2,3]

In [8]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [10]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [15]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [23]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [24]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [25]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [28]:
2 in [1,2,3]

True

In [27]:
'x' in ['x','y','z']

True

In [29]:
'a' in 'a world'

True

In [30]:
'mykey' in {'mykey':345}

True

In [32]:
d = {'mykey':345}

345 in d.keys()

False

In [33]:
mylist = [10,20,30,40,100]

In [34]:
min(mylist)

10

In [35]:
max(mylist)

100

In [36]:
from random import shuffle

In [37]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [42]:
random_list = shuffle(mylist)

In [43]:
mylist

[9, 8, 10, 6, 3, 1, 4, 2, 7, 5]

In [44]:
type(random_list)

NoneType

In [45]:
from random import randint

In [48]:
randint(0,100)

52

In [49]:
mynum = randint(0,10)

In [50]:
mynum

2

In [57]:
result = input('What is your favourite number? ')

What is your favourite number? 30

In [59]:
type(result)

str

In [61]:
int(result)

30

In [62]:
float(result)

30.0

In [63]:
mystring = 'hello'

In [64]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [65]:
mylist

['h', 'e', 'l', 'l', 'o']

In [66]:
mylist = [letter for letter in mystring]

In [67]:
mylist

['h', 'e', 'l', 'l', 'o']

In [71]:
mylist = [bob for bob in 'word2']

In [72]:
mylist

['w', 'o', 'r', 'd', '2']

In [77]:
mylist = [num**2 for num in range(0,11)]

In [78]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [82]:
mylist

[0, 4, 16, 36, 64, 100]

In [83]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [84]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [85]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))

In [86]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [87]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [88]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [91]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [92]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [93]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [94]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]